# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# set homepage in package.json for delopying to github.io, so remove this line: /build
# after checking Find out more about deployment here: https://cra.link/deployment
# https://create-react-app.dev/docs/deployment/#serving-the-same-build-from-different-paths
# It is a better solution for "Serving the Same Build from Different Paths"
# By using   "homepage": ".", in package.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
